body{
    background-color: lightgrey;
    font-family: sans-serif;
    text-align: center;
}

.product-box{
    border: 2px solid black;
    background-color: white;
    height: auto;
    width: 400px;
    margin: auto;
    text-align: center;
    padding: 15px;
}
.image{
    height: auto;
    width: 100%;
    display: block;
    margin: auto;
}
.price{
    color: red;
    font-size: large;
}
button{
    background-color: blue;
    color: white;
    padding: 10px;
    font-size: large;
    font-weight: bold;
}